<!DOCTYPE html>
<html>

    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/styles/family.css" type="text/css">
    </head>

<body class="jumbotron">
    <nav>
        <div class="container-fluid">
            <a href="/signup"><button class="btn btn-font btn-outline-info border-info">Sign up</button></a>
            <a href="/login"><button class="btn btn-font btn-outline-info border-info">Log in</button></a>
            <a href="/changePass"><button class="btn btn-font btn-outline-info border-info">Change Password</button></a>
            <a href="/home"><button class="btn btn-font btn-outline-info">Home</button></a>
            <a href="/family"><button class="btn btn-font btn-outline-info active">Family</button></a>
            <a href="/adventure"><button class="btn btn-font btn-outline-info">Adventure</button></a>
            <a href="/romantic"><button class="btn btn-font btn-outline-info">Romantic</button></a>
        </div>
    </nav>
    <hr>
    <br><br>
    <div class="container-fluid">
        <div>
            <img class="img-thumbnail float-right" src="/assets/images/Family/Simala1.jpg">
            <img class="img-thumbnail float-left" src="/assets/images/Family/lapulapu.jpg">
        </div>
    </div>
    <br>
    <div class="container-fluid">
            <table class="table table-bordered">
                <thead class="thead-light">
                        <th style="width: 5%;">#</th>
                        <th style="width: 20%;">Client</th>
                        <th style="width: 20%;">Description</th>
                        <th style="width: 15%;">Date Posted</th>
                        <th style="width: 10%;">Operation</th>
                </thead>
                <tbody class="tbody-light">
                    <% var counter = 1 %>
                        <% Comments.forEach(function(comm){%>
                            <tr>
                                <td><%= counter++ %></td>
                                <td><%=comm.Username%></td>
                                <td><%= comm.Description%></td>
                                <td><%= comm.Date %></td>
                                <td><input type="button" value="REMOVE" data-id="<%= comm._id %>" id="butDel" class="btn btn-danger butDel"></td>
                            </tr>
                        <%})%>
                    </tbody>
            </table>
    </div>
    
</body>
<script>
    $(document).ready(function(){
        $('.butDel').click(function(){
            var data = $(this).attr('data-id');
            $.ajax({
                method: "POST",
                url: '/deletePost',
                data: {
                    ID: data
                },
                success: function(message){
                    alert(message)
                    top.location.href = '/adminfamily';
                }
            })
        })
    });

    
</script>
</html>